<main>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <div class="card p-4" style="width: 400px;">

            <img src="templates/images/blocked.svg" class="card-img-top mx-auto d-block" alt="Image de blocage" style="width: 50%;">

            <div class="card-body">
                <h5 class="card-title text-center text-danger">Vous avez été bloqué</h5>
                <p>Vous avez entré un mot de passe ou un identifiant incorrect un trop grand nombre de fois. Veuillez contacter le support pour être autorisé à accéder au site de nouveau.</p>
            </div>
            
        </div>
    </div>
</main>
</html>